<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Page</title>
</head>
<body>
  <nav class="container">
    <ul id="menu">
      <li>
        <a href="#">Experience</a>
           <ul class="sub-menu">
             <li><a href="#">Fresher</a></li>
             <li><a href="#">1year</a></li>
             <li><a href="#">2years</a></li>
             <li><a href="#">3years</a></li>
             <li><a href="#">4+years</a></li>
           </ul>
      </li>
      <li>
        <a href="#">Technology</a>
           <ul class="sub-menu">
             <li><a href="#">JavaScript</a></li>
             <li><a href="#">React</a></li>
             <li><a href="#">Angular</a></li>
             <li><a href="#">Node</a></li>
             <li><a href="#">Java</a></li>
             <li><a href="#">Golang</a></li>
             <li><a href="#">Python</a></li>
           </ul>
      </li>

      <li>
        <a href="#">Client</a>
           <ul class="sub-menu">
             <li><a href="#">Cisco</a></li>
             <li><a href="#">Samsung</a></li>
             <li><a href="#">Dell</a></li>
             <li><a href="#">Digit</a></li>
           </ul>
      </li>
        
    </ul>
  </nav>
</body>
</html>
